<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041364361004-35egodcuncff42hst6oegaorepekrde2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041364361004-35egodcuncff42hst6oegaorepekrde2</string>
	<key>API_KEY</key>
	<string>AIzaSyBhfzoLfoq-O1KxMo2rFIFKnsyXX0Qs7TQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1041364361004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter</string>
	<key>PROJECT_ID</key>
	<string>capacitor-c1731</string>
	<key>STORAGE_BUCKET</key>
	<string>capacitor-c1731.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041364361004:ios:2c5294e85ac8209de95689</string>
	<key>DATABASE_URL</key>
	<string>https://capacitor-c1731.firebaseio.com</string>
</dict>
</plist>